<div class="container py-3 mt-5">
  <div class="row">
    <p>{{ this.body }}</p>
  </div>
</div>
<div class="container py-3">
  <div class="row">
    <h2 class="text-primary">{{ _('Tor Source') }}</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ _('Version') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% set t = bag('versions', 'tor-stable') %}
        {% set a = bag('versions', 'tor-alpha') %}
        {% set download_link = 'https://dist.torproject.org/tor-' + t.version + '.tar.gz' %}
        {% set changelog_link = 'https://gitweb.torproject.org/tor.git/plain/ChangeLog?h=tor-' + t.version %}
        {% set alpha_changelog_link = 'https://gitweb.torproject.org/tor.git/plain/ChangeLog?h=tor-' + a.version %}
        {% set checksum_link = download_link + '.sha256sum' %}
        {% set sig_link = checksum_link + '.asc' %}
        {% set alpha_download_link = 'https://dist.torproject.org/tor-' + a.version + '.tar.gz' %}
        {% set alpha_checksum_link = alpha_download_link + '.sha256sum' %}
        {% set alpha_sig_link = alpha_checksum_link + '.asc' %}
        <tr>
          <td>{{ t.version }}</td>
          <td><a href="{{ changelog_link }}">{{ _('Changelog') }}</a></td>
          <td class="text-right"><a href="{{ download_link }}">{{ _('Download') }}</a> (<a href="{{ checksum_link }}">{{ _('checksum') }}</a> | <a href="{{ sig_link }}">{{ _('sig') }}</a>) <a class="link" href="{{ 'https://support.torproject.org/' + this.alt + '/little-t-tor/verify-little-t-tor/' }}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{ _('Learn how to verify a signature') }}"><i style="font-size:10px;" class="fas fa-question-circle"></i></a></td>
        </tr>
        {% if t.version != a.version %}
          <tr>
            <td>{{ a.version }}</td>
            <td><a href="{{ alpha_changelog_link }}">{{ _('Changelog') }}</a></td>
            <td class="text-right"><a href="{{ alpha_download_link }}">{{ _('Download') }}</a> (<a href="{{ alpha_checksum_link }}">{{ _('checksum') }}</a> | <a href="{{ alpha_sig_link }}">{{ _('sig') }}</a>) <a class="link" href="{{ 'https://support.torproject.org/' + this.alt + '/little-t-tor/verify-little-t-tor/' }}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{ _('Learn how to verify a signature') }}"><i style="font-size:10px;" class="fas fa-question-circle"></i></a></td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <h2 class="text-primary">{{ _('Windows Expert Bundle') }}</h2>
    {% set t = bag('versions', 'torbrowser-stable') %}
    <table class="table">
      <tbody>
        <tr>
          <td>{{ _('Windows 10, 8, 7, and Windows Server (>= 2008)') }}</td>
          <td>{{ _('Contains just Tor and nothing else.') }}</td>
          <td class="text-right">
            {% from "macros/downloads.html" import render_windows_expert %}
            {{ render_windows_expert(t.version, t.win32) }}
            <a class="link" href="{{ 'https://support.torproject.org/' + this.alt + '/little-t-tor/verify-little-t-tor/' }}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{ _('Learn how to verify a signature') }}"><i style="font-size:10px;" class="fas fa-question-circle"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
